$siteBgColorCustom: #121212;
$sidebarBgColorCustom: #2c2c2c;
$textColorCustom: #ffffff;
$sidebarTextColorCustom: #ffffff;
$headlineColorCustom: #ffffcc;
$headingColorCustom: #ffffcc;
$bodyLinkColorCustom: #ffffcc;
$navLinkColorCustom: #ffffcc;
$sidebarLinkColorCustom: #ffffcc;
$footerTextColorCustom: #848484;
$buttonTextColorCustom: #2c2c2c;
$buttonHoverTextColorCustom: #2c2c2c;
$buttonBgColorCustom: #ffffcc;
$buttonHoverBgColorCustom: #ffffcc;
$borderColorCustom: #424242;
// Light ffcc66
// Normal ffb44c, ffb44c
// Deep ff9933, f5f5dc
