$siteBgColorCustom: #121212;
$sidebarBgColorCustom: #2c2c2c;
$textColorCustom: #ffffff;
$sidebarTextColorCustom: #ffffff;
$headlineColorCustom: #ffffcc;
$headingColorCustom: #f5f5dc;
$bodyLinkColorCustom: #f5f5dc;
$navLinkColorCustom: #f5f5dc;
$sidebarLinkColorCustom: #ffffe0;
$footerTextColorCustom: #848484;
$buttonTextColorCustom: #2c2c2c;
$buttonHoverTextColorCustom: #2c2c2c;
$buttonBgColorCustom: #f5f5dc;
$buttonHoverBgColorCustom: #ffffe0;
$borderColorCustom: #424242;
// Light ffcc66
// Normal ffb44c, ffb44c
// Deep ff9933, f5f5dc
